<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert-alert-primary" role="alert">deu certo
         </div>
         <script type="module">
          
            window.alert("se liga bixo")
         </script>
    <h1> no form de ejs</h1>
    <h2>teste no form 3 </h2>
    
</body>
</html>